################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c/v16
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json

# FiveM
cache/
**.fxap
server.cfg

# Vue Build
nui/inventory/node_modules/
nui/inventory/package-lock.json
nui/node_modules/
nui/dist/

# Storybook
storybook-static/
nui/**/*.stories.js

# Logs directory
logs/
*.log
