###########################################################################
###							SERVER INFORMATION
###########################################################################

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_licenseKey "cfxk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
sv_tebexSecret "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
load_server_icon myLogo.png
sv_hostname "Ingenium | Hardcore RP"
sv_endpointprivacy true
sv_scriptHookAllowed 0
set steam_webApiKey "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
set mysql_connection_string "mysql://FiveM:Password@localhost:5001/db?charset=utf8mb4_general_ci&supportBigNumbers=true&multipleStatements=true"
set mysql_connection_limit "10"
set temp_convar "ok"
###########################################################################
###						BANNER SETTINGS
#sets banner_detail "https://cdn.discordapp.com/attachments/1002135318805360641/1045563181445152868/Ingenium_w_Backdrop.png"
#sets banner_connecting "https://cdn.discordapp.com/attachments/1002135318805360641/1045563181445152868/Ingenium_w_Backdrop.png"
###########################################################################
# Comment masterl out to enable being found on the master list.
# sv_master1 ""
sets sv_projectName "Ingenium"
sets sv_projectDesc "Building a Better Server"
###########################################################################
sv_maxclients 48
onesync_distanceCullVehicles true
onesync_showObjectIds false
onesync_forceMigration true
onesync_workaround763185 true
onesync_radiusFrequency true
###########################################################################
### DETAILS
###########################################################################
sets Website "https://ingenium.games"
sets Discord "https://discord.gg/cPfSpzB778"
sets Time "00:00"
sets locale "en-AU" 
###########################################################################
### Ace Perms for ingenium resource
add_ace resource.ingenium command.sets allow
add_ace resource.ingenium command.add_ace allow
add_ace resource.ingenium command.remove_ace allow
add_ace resource.ingenium command.add_principal allow
add_ace resource.ingenium command.remove_principal allow
###########################################################################
### Ace Commands Heirachy
# Mod
add_principal group.mod group.public
# Mod Commands
add_ace group.mod command.clothes allow
# Admin
add_principal group.admin group.mod
# Admin Commands
add_ace group.admin command allow # allow all commands
add_ace group.admin command.ban deny # but don't allow quit
add_ace group.admin command.quit deny # but don't allow quit
# Superadmin
add_principal group.superadmin group.admin
# Superadmin Commands
add_ace group.superadmin command.ban allow # but don't allow quit
add_ace group.superadmin command.kick allow # but don't allow quit
# Developer 
add_principal group.developer group.superadmin
# Developer Commands
add_ace group.developer command.quit allow
# Owner
add_principal group.owner group.developer
# Owner Commands

###########################################################################
### RESOURCES
#
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure screenshot-basic
#
ensure freecam
ensure mugshot
#
ensure discordroles
ensure restfx
ensure sit
ensure nfa
#
ensure ingenium.sql
ensure ingenium
