###########################################################################
###							SERVER INFORMATION
###########################################################################

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_licenseKey "cfxk_xGlnsctZTY46tzpmIPw0_3LswNc"

sv_tebexSecret "935cdec4c9b2e6436526f794cdfa227db188897f"

load_server_icon myLogo.png
sv_hostname "Ingenium Games | Hardcore RP"

sv_endpointprivacy true
sv_scriptHookAllowed 0

set steam_webApiKey "84BD35F5BD6FBBF9BCED5E9538ED490A"
set mysql_connection_string "mysql://FiveM:nEYarI44fOWIbakOXeXIwAw3QoTE47@localhost:3307/db?charset=utf8mb4_general_ci&supportBigNumbers=true&multipleStatements=true"
#set mysql_debug "Console"
set temp_convar "ok"


###########################################################################
# Comment masterl out to enable being found on the master list.
# sv_master1 ""
sets sv_projectName "Ingenium Games"
sets sv_projectDesc "Building a Better Server"
###########################################################################

sv_maxclients 48

onesync_distanceCullVehicles true
onesync_showObjectIds false
onesync_forceMigration true
onesync_workaround763185 true
onesync_radiusFrequency true

###########################################################################
### DETAILS
###########################################################################

sets Website "https://ingenium.games"
sets Discord "https://discord.gg/zduUDU8Frv"

sets Time "00:00"
sets locale "en-AU" 

###########################################################################
### Ace Perms

add_ace resource.ig.core command.sets allow
add_ace resource.ig.core command.add_ace allow
add_ace resource.ig.core command.remove_ace allow
add_ace resource.ig.core command.add_principal allow
add_ace resource.ig.core command.remove_principal allow

###########################################################################
### Ace Commands

# Mod
add_principal group.mod group.public

# Mod Commands
add_ace group.mod command.clothes allow

# Admin
add_principal group.admin group.mod

# Admin Commands
add_ace group.admin command allow # allow all commands
add_ace group.admin command.ban deny # but don't allow quit
add_ace group.admin command.quit deny # but don't allow quit

# Superadmin
add_principal group.superadmin group.admin

# Superadmin Commands
add_ace group.superadmin command.ban allow # but don't allow quit
add_ace group.superadmin command.kick allow # but don't allow quit

# Developer 
add_principal group.developer group.superadmin

# Developer Commands
add_ace group.developer command.quit allow

# Owner
add_principal group.owner group.developer

# Owner Commands
add_principal group.owner group.developer


###########################################################################
### RESOURCES

# exec resource.cfg

#
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure screenshot-basic
ensure fivem
ensure rconlog
ensure restfx

#
ensure freecam
ensure mysql-async
ensure discordroles
ensure mugshot
ensure pma-voice
ensure sit
ensure elc-fivem
ensure PolyZone
ensure stance
ensure ipls
ensure xsound
ensure ps-ui

#
setr fivem-appearance:locale "en"
setr fivem-appearance:automaticFade 1
ensure fivem-appearance

#
ensure ig.loading
ensure ig.dump
ensure ig.core
ensure ig.nui
ensure ig.base
ensure ig.banking
ensure ig.taskbar
ensure ig.target
ensure ig.keyboard
ensure ig.interact
ensure ig.vehicles
ensure ig.phone
ensure ig.dev
ensure ig.pdm
ensure ig.garage
ensure ig.propdev
ensure ig.rvf
ensure ig.mechanic
ensure ig.jobs
#
ensure kimi_callbacks
ensure AdvancedParking

#
setr game_enableFlyThroughWindscreen 1
ensure ig.seatbelt

# ADDONS
ensure addon.taxi

# CAR
ensure ispeedometer
ensure elc-vehicles

# YMAP
ensure ymap.1
ensure ig.shells

# MLO
ensure cfx-gabz-mapdata         
ensure cfx-gabz-scenarios       
ensure cfx-gabz-pdprops         
ensure cfx-gabz-247             
ensure cfx-gabz-ammunation
ensure cfx-gabz-arcade
ensure cfx-gabz-beanmachine
ensure cfx-gabz-binco
ensure cfx-gabz-bowling
ensure cfx-gabz-carmeet
ensure cfx-gabz-casino
ensure cfx-gabz-catcafe
ensure cfx-gabz-davispd        
ensure cfx-gabz-diner
ensure cfx-gabz-esbltd
ensure cfx-gabz-firedept
ensure cfx-gabz-fleeca
ensure cfx-gabz-harmony
ensure cfx-gabz-haters
ensure cfx-gabz-hayes
ensure cfx-gabz-hub        
ensure cfx-gabz-import
ensure cfx-gabz-lamesapd      
ensure cfx-gabz-lost
ensure cfx-gabz-lscustoms
ensure cfx-gabz-mirrorpark1
ensure cfx-gabz-mirrorpark2
ensure cfx-gabz-mrpd
ensure cfx-gabz-ottos
ensure cfx-gabz-pacificbank
ensure cfx-gabz-paletobank
ensure cfx-gabz-paletoliquor
ensure cfx-gabz-paletopd 
ensure cfx-gabz-parkranger
ensure cfx-gabz-pillbox
ensure cfx-gabz-pinkcage
ensure cfx-gabz-pizzeria
ensure cfx-gabz-ponsonbys
ensure cfx-gabz-prison
ensure cfx-gabz-records
ensure cfx-gabz-sandypd
ensure cfx-gabz-studio
ensure cfx-gabz-suburban
ensure cfx-gabz-townhall
ensure cfx-gabz-tuners
ensure cfx-gabz-vu
# Fuck Yachts
# ensure cfx-gabz-yachts
ensure cfx-gabz-vbmarket
ensure cfx-gabz-altruists
ensure cfx-gabz-aztecas
ensure cfx-gabz-ballas
ensure cfx-gabz-families
ensure cfx-gabz-lostsc
ensure cfx-gabz-marabunta
ensure cfx-gabz-triads
ensure cfx-gabz-vagos
