/*
      -- Button Window
  */

.button-window {
  display: inline-block;
  position: absolute;
  right: 0.25vw;
  bottom: 0vh;
  width: 35vw;
  overflow: visible;
  text-align: center;
  flex-direction: row;
}

.button {
  display: inline-block;
  position: relative;
  right: 0.25vw;
  bottom: -0.15vh;
  height: 2.55vh;
  width: 2.2vw;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(85, 85, 85, 0.695);
  color: rgba(255, 255, 255, 0.795);
  font-size: 100%;
  z-index: 2;
  transition: ease-in-out 0.45s;
}

.button:hover {
  display: inline-block;
  position: relative;
  right: 0.25vw;
  bottom: -0.15vh;
  height: 2.55vh;
  width: 2.2vw;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(201, 201, 201, 0.695);
  color: rgba(128, 128, 128, 0.815);
  font-size: 100%;
  z-index: 2;
  transition: ease-in-out 0.45s;
}

.button i {
  padding-top: 0.65vh;
}

.options-window p {
  margin-left: 15px;
  font-size: 0.85em;
}

.options-window p strong {
  text-align: center;
  font-size: 1em;
}

.colour-select {
  position: absolute;
  top: 0.5vh;
  bottom: 1vh;
  left: 1vw !important;
  text-align: right;
  border-left: 1px solid grey;
}

.colour-select strong {
  margin-right: 2vw;
}

.colour-select .col-padding {
  padding-top: 0.25vh;
}

.hints {
  position: absolute;
  top: 1.5vh;
  bottom: 1vh;
  left: 1vw !important;
  width: 72vw;
  text-align: left;
}

.hints strong {
  margin-right: 2vw;
}

.hints .col-padding {
  padding-top: 0.15vh;
}

.hints p strong {
  text-align: center;
  font-size: 1.25em;
  font-style: italic;
}
