/*
    Inventory Button
*/

.inventory-window {
  position: absolute;
  display: inline-block;
  top: 10vh;
  bottom: 8vh;
  right: 5vw;
  width: 35vw;
  height: 70vh;
  border: solid 2px rgb(53, 53, 53);
  border-radius: 12px 12px 12px 12px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}

.inventory-window-frame {
  position: absolute;
  display: inline-block;
  top: 1vh;
  right: 0.45vw;
  bottom: 1vh;
  width: 34vw;
  height: 68vh;
  /* border: solid 2px rgb(204, 204, 204);  */
  border-radius: 12px 0px 0px 12px;
  z-index: 10000;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

.inventory-meta {
  position: absolute;
  display: flex;
  top: 71vh;
  bottom: 8vh;
  right: 0vw;
  width: 35vw;
  height: 9.2vh;
  border: solid 2px rgb(53, 53, 53);
  border-radius: 12px 12px 12px 12px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}

.inventory-meta div {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: 12px;
  margin-left: 4px;
}

.inventory-meta p:first-of-type {
  font-weight: bold;
  text-decoration: underline;
}

.inventory-meta p {
  font-size: 0.82em;
  margin: 6px;
  max-width: 12vw;
}

.other-inventory-window {
  position: absolute;
  display: inline-block;
  top: 10vh;
  bottom: 8vh;
  left: 5vw;
  width: 35vw;
  height: 70vh;
  border: solid 2px rgb(53, 53, 53);
  border-radius: 12px 12px 12px 12px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}

.other-inventory-window-frame {
  position: absolute;
  display: inline-block;
  top: 1vh;
  bottom: 1vh;
  left: 0.45vw;
  width: 34vw;
  height: 68vh;
  /* border: solid 2px rgb(204, 204, 204);  */
  border-radius: 12px 0px 0px 12px;
  z-index: 10000;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

.item {
  position: relative;
  display: inline-block;
  margin-top: 0.65vh;
  margin-bottom: 0.25vh;
  margin-left: 0.25vw;
  height: 11vh;
  width: 4.25vw;
  border: dotted 1px rgb(204, 204, 204);
  border-radius: 8px 8px 2px 2px;
  z-index: 10000;
}

.item:hover {
  border: solid 1px rgb(204, 204, 204);
  background-color: rgba(190, 190, 190, 0.2);
}

.selected {
  border: solid 1px rgba(255, 224, 50, 0.795);
  background-color: rgba(190, 190, 190, 0.2);
}

.item-condition {
  position: absolute;
  top: 10.21vh;
  height: 0.8vh;
  width: var(--item-condition);
  box-shadow: 1px 3px -1px -1px inset;
  background-color: rgb(255, 255, 255);
  z-index: 10001;
}

.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.45vh;
  max-width: 2.88vw;
  min-width: 2.68vw;
}

.item p {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.82em;
  top: -0.35vh !important;
  color: rgb(214, 214, 214);
  z-index: 10001;
}

.item p ~ p {
  position: absolute;
  display: inline-block;
  text-transform: lowercase;
  font-size: 0.88em;
  top: 7.12vh !important;
  left: 7.5%;
  color: rgb(190, 190, 190);
  z-index: 10001;
}

.inventory-button {
  position: relative;
  display: inline-block;
  font-size: 1.18vw;
  border: solid 2px rgb(204, 204, 204);
  padding: 0.75vh;
  border-radius: 16px 16px 16px 16px;
  margin-top: 1.65vh;
  margin-left: 1.25vw;
}

.inventory-button:hover {
  border: solid 2px rgba(255, 224, 50, 0.795);
  background-color: rgba(170, 170, 170, 0.2);
}
