/*
    Options Button
*/

.options-window {
  cursor: move;
  position: absolute;
  display: inline-block;
  bottom: 5vh;
  left: 5vw;
  height: 50vh;
  width: 12vw;
  border: solid 2px rgb(53, 53, 53);
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  z-index: 9999;
}
