/*
    Skills Button
*/

.skills-window {
  cursor: move;
  position: absolute;
  display: inline-block;
  height: auto;
  width: 8vw;
  border: solid 2px rgb(53, 53, 53);
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  z-index: 9999;
}

.skills-window p {
  text-align: center;
  font-size: 0.72vw;
}

.skills-container {
  padding: 0.13vw;
}

.skill-spacer {
  padding-bottom: 1.22vw;
}

.skill-set {
  padding-top: 0.22vw;
  padding-bottom: 0.33vw;
}

.skill-set p {
  text-align: center;
  font-size: 0.59vw;
  top: 0.22vw;
}

.skill {
  position: absolute;
  width: 6.45vw;
  left: 0.68vw;
  height: 0.65vh;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--colour);
  z-index: inherit;
}

.skill-bar {
  position: absolute;
  bottom: 0vh;
  width: var(--percentage);
  height: 0.65vh;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--colour);
  transition: ease-in-out 0.5s;
  z-index: 2;
}
