
/*
    Status Bars
*/

.status-window {
    display: inline-block;
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    height: 100vh;
    width: 100vw;
    background-color: var(--colour);
    overflow: visible;
    text-align: center;
    flex-direction: row;
    z-index: 1;
  }
  
  .status {
    cursor: move;
    position: relative;
    float: left;
    width: 5.25vw;
    margin-left: 4px;
    height: 0.65vh;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--colour);
    z-index: inherit;
  }
  
  .status-bar {
    position: absolute;
    bottom: 0vh;
    width: var(--percentage);
    height: 0.65vh;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--colour);
    transition: ease-in-out 0.5s;
    z-index: 2;
  }
  
  .status i {
    position: relative;
    text-align: center;
    bottom: 2.30vh;
    color:var(--colour);
    font-size: 135%;
    z-index: 3;
  }
  
  .status-buff {
    cursor: move;
    position: relative;
    float: left;
    width: 3.85vw;
    margin-left: 4px;
    height: 0.65vh;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--colour);
    z-index: inherit;
  }
  
  .status-buff-bar {
    position: absolute;
    bottom: 0vh;
    width: var(--percentage);
    height: 0.65vh;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--colour);
    transition: ease-in-out 0.5s;
    z-index: 2;
  }
  
  .status-buff i {
    position: relative;
    text-align: center;
    bottom: 2.30vh;
    color:var(--colour);
    font-size: 135%;
    z-index: 3;
  }
  
  .status-nerf {
    cursor: move;
    position: relative;
    float: left;
    width: 3.85vw;
    margin-left: 4px;
    height: 0.65vh;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--colour);
    z-index: inherit;
  }
  
  .status-nerf-bar {
    position: absolute;
    bottom: 0vh;
    width: var(--percentage);
    height: 0.65vh;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--colour);
    transition: ease-in-out 0.5s;
    z-index: 2;
  }
  
  .status-nerf i {
    position: relative;
    text-align: center;
    bottom: 2.30vh;
    color:var(--colour);
    font-size: 135%;
    z-index: 3;
  }